/* CSS RESET
///////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600;8..144,800&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
}

/* NAVIGATION AND NAV BAR
///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav-menu-hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: black;
  z-index: 2;
  color: white;
  overflow: hidden;
  transition: height 0.5s;
}

.fa-bars {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3rem;
  z-index: 1;
  transition: color 0.5s;
}

.fa-bars:hover {
  cursor: pointer;
  color: lightsteelblue;
}

.nav-menu-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.nav-menu-wrapper a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.5s;
}

.nav-menu-wrapper a:hover {
  color: lightsteelblue;
}

.fa-x {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  transition: color 0.5s;
}

.fa-x:hover {
  cursor: pointer;
  color: lightsteelblue;
}

@media only screen and (max-width: 600px) {
  /* .nav-menu-hero {
    height: 100vh;
  } */

  .fa-x {
    top: 50px;
    left: 50%;
  }

  .nav-menu-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-menu-wrapper a {
    margin: 20px 0;
  }
}

/* HEADER
///////////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url("./resources/candle-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.header-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 20px;
}

.header-wrapper h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
}

.shop-button {
    height: max-content;
    width: 100px;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    transition: background-color 0.5s;
}

.shop-button:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 350px) {
    header h1 {
        font-size: 2.5rem;
    }

    header h2 {
        font-size: 1.25rem;;
    }
}

/* ABOUT SECTION
///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.about {
  padding: 100px 0 100px;
  display: flex;
}

.about-wrapper {
  margin: auto;
  width: 90%;
}

.about-wrapper h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

.about-wrapper h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 0.1rem;
  background-color: goldenrod;
  margin: 0 auto 30px;
}

.about-text-image-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
}

.emily-edwin-image {
  width: 400px;
  border-radius: 10px;
}

.about-text-image-wrapper p {
  font-size: 1.25rem;
  width: 90%;
  max-width: 400px;
}

@media only screen and (max-width: 1050px) {
  .about {
    padding: 100px 0 50px;
  }
  
  .about-text-image-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .emily-edwin-image {
    margin: 30px 0;
  }
}

/* PROMOTION SECTION
///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.promotion-wrapper h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

.promotion-wrapper h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 0.1rem;
  background-color: goldenrod;
  margin: 0 auto 30px;
}

.promotion-photo-wrapper {
  margin: auto;
  width: 90%;
  max-width: 600px;
}

.promotion-image-card {
  display: flex;
  margin: auto;
  width: 300px;
  flex-direction: column;
  align-items: center;
}

.promotion-candle-photo {
  width: 250px;
}

.promotion-description {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.promotion-cost {
  font-size: 1.25rem;
  font-weight: 300;
}

.promotion-arrow-wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: auto;
}

#promotionCard2 {
  display: none;
}

#promotionCard3 {
  display: none;
}

#promotionCard4 {
  display: none;
}

#promotionCard5 {
  display: none;
}

#promotionCard6 {
  display: none;
}

#promotionCard7 {
  display: none;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 3rem;
  transition: color 0.3s;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  cursor: pointer;
  color: goldenrod;
}

/* CONTACT SECTION
///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.form-wrapper {
  margin: 100px auto;
  width: 90%;
  max-width: 500px;
}

.form-wrapper h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

.form-wrapper h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 0.1rem;
  background-color: goldenrod;
  margin: 0 auto 30px;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 90%;
  max-width: 200px;
  margin: 5px 0;
}

#comments {
  width: 90%;
}

#submitBtn {
  margin: 5px 0;
  height: 50px;
  width: 150px;
  font-size: 1.5rem;
  border: none;
  background-color: goldenrod;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

#submitBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 5px gray;
}

#submitBtn:active {
  box-shadow: none;
}

/* SOCIAL MEDIA SECTION
///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.logo-container {
  display: flex;
  justify-content: center;
  margin: 0 auto 10px;
}

.logo {
  width: 50px;
  margin: 0 10px;
}

.logo:hover {
  cursor: pointer;
}